*{
    box-sizing: border-box;
    font-family: 'Long Cang', cursive;
    text-align: center;
}

body{
    background: url("bg.jpeg");
    background-size: 100%;
}

.headline{
    margin-top: 0;
    font-size: 3rem;
    background: green;
    border: 5px solid black;
    color: blanchedalmond;    
}

.small-text{ 
    font-size: 1rem;
}

.btn{
    padding: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background: transparent;
    color: white;
}
.hover{
    width: 125px;
    font-size: 1.75rem;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
 
}

.flex-container-board{
    outline: 5px solid rgb(39, 16, 7);
    display: flex;
    background: wheat;
}

.flex-squares{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
.flex-container-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.piece{
    font-size: 5rem;
    font-weight: 900;
}

@media only screen and (min-width: 600px) {
    .btn{
        width: 350px;
        height: 50px;
        font-size: 3rem; 
        margin-bottom: 80px;
        
    }
    .hover{
        font-size: 4rem;
        margin-bottom: 60px;
        margin-top: 20px;
    }
    .headline{
        margin-top: 0;
        font-size: 5rem;
    }
    .small-text{ 
        font-size: 2rem;
    }
    .flex-squares{
        border: 4px solid black;
        width: 200px;
        height: 200px;
    }
    .piece{
        font-size: 9rem;
        font-weight: 900;
    }
}
